
.content{
    width:70%;
}

.App-header {
    width:100%;
    text-align: center;
}

.background {
    width:100%;
  
    /* background-color:#b0c4de; */
    height: 100vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 

}

.countdown-timer {
    text-align: center;
    color:#000; 
    
 



} 

.countdown-timer .section {
 
    background-color:white;
    padding:10px
    

    
}

.date {

}

.text {
 

}
/* 
@media only screen and (max-width: 600px) {
    .background {
        background-image: url("../img/littlebear.jpg");

    }
  } */