.kuma-logo {
    
}

.Q-form {
    top: 50%!important;
  -ms-transform: translateY(-50%)!important;
  transform: translateY(-50%)!important;

}
.enter-button {
background-color:#8D6E34;
border:20px solid #6C552A,

}

.enter-button:hover{
    background-color:#7D622F

}
.entire-content{




}
.content{
    width:70%;
}

.App-header {
    width:100%;
    text-align: center;
}

.welcome-text {
    font-family: 'Encode Sans Expanded', sans-serif!important;
    color:black
}


.background {
    width:100%;
  
    /* background-color:#b0c4de; */
    height: 100vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 

}

.top-nav{
font-size:1.7rem;
font-family: 'Lato', sans-serif;
}

.countdown-title {
    font-weight:600;
    font-family: 'Inter', sans-serif;
    letter-spacing:5px;
    
}
.countdown-timer {
    text-align: center;
    color:#000; 
} 

.countdown-timer .section {
    
}




.countdown-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
    align-items:center!important;
		/* desired width */
}

.days , .hours , .minutes, .seconds {
    background-color:rgb(255,232,128);
    color:black;
    font-weight:500
}

span{
  
}

.greeting {
    font-weight:800;
    color:#292314
}
